@import '../../assets/styles/variables';

.menuContainer {
  padding: $mainPadding;
  width: $menuWindowWidth;
  background-color: $menuWindowBackground;
  border-top: 2px solid $borderLight;
  border-right: 2px solid $borderDark;
  border-bottom: 2px solid $borderDark;
  border-left: 2px solid $borderLight;

  .menuItem {
    &:not(:last-child) {
      margin-bottom: $mainMargin;
    }

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      font-size: $menuInputFontSize;
      outline: none;

      &[type=text] {
        box-sizing: border-box;
      }

      &[type=button] {
        cursor: pointer;

        &:hover {
          animation: glowing 1000ms infinite;
        }
      }
    }

    select {
      width: 100%;
      font-size: $menuInputFontSize;
      outline: none;
    }

    hr {
      margin: 0;
    }
  }
}
