@import '../../assets/styles/variables';

.gameWindow {
  padding: 0 $gameWindowPadding $gameWindowPadding $gameWindowPadding;
  background-color: $gameWindowBackground;
  border-top: 2px solid $borderLight;
  border-right: 2px solid $borderDark;
  border-bottom: 2px solid $borderDark;
  border-left: 2px solid $borderLight;

  .boardPanel {
    display: flex;
    align-items: center;
    height: $boardPanelHeight;
    font-size: $boardPanelFontSize;
    user-select: none;

    .-menu-button,
    .-pause-button {
      width: $boardPanelButtonSize;
      height: $boardPanelButtonSize;
      margin-right: 2%;
      background: none;
      border: none;
      color: $boardPanelFontColor;
      cursor: pointer;
      outline: none;
    }

    .-level {
      display: flex;
      align-items: center;
      width: 30%;
      margin-left: $mainMargin;

      .-id {
        margin-right: calc(#{$mainMargin / 2});
      }
    }

    .-time {
      width: 20%;
      visibility: hidden;

      &:before {
        content: 'Time:';
        margin-right: calc(#{$mainMargin / 2});
      }
    }

    .-lives {
      width: 15%;

      &:before {
        content: 'Lives:';
        margin-right: calc(#{$mainMargin / 2});
      }
    }

    .-score {
      width: 25%;

      &:before {
        content: 'Score:';
        margin-right: calc(#{$mainMargin / 2});
      }
    }
  }

  .boardGrid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(#{$cellSize * 23});
    height: calc(#{$cellSize * 17});
    border-top: 1px solid $borderDark;
    border-right: 1px solid $borderLight;
    border-bottom: 1px solid $borderLight;
    border-left: 1px solid $borderDark;
    background-color: $boardGridBackground;

    .-labels-canvas {
      z-index: 100;
    }

    .-static-canvas {
      z-index: 99;
    }

    .-doors-canvas {
      z-index: 98;
    }

    .-goal-canvas {
      z-index: 97;
    }

    .-wand-canvas,
    .-enemy-canvas {
      z-index: 10;
    }

    .-switchers-canvas
    .-obstacles-canvas{
      z-index: 9;
    }

    .-static-canvas,
    .-goal-canvas,
    .-wand-canvas,
    .-enemy-canvas,
    .-doors-canvas,
    .-switchers-canvas,
    .-obstacles-canvas,
    .-labels-canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(#{$cellSize * 23});
      height: calc(#{$cellSize * 17});
    }

    .-pause {
      z-index: 999;
      padding: $smallPadding $mainPadding;
      border: 1px solid $pauseLabelBorder;
      background-color: $pauseLabelBack;
      visibility: hidden;

      &.show {
        visibility: visible;
      }
    }
  }
}
