/**
 *  Global
 */
$mainPadding: 2vmin;
$mainMargin: 2vmin;
$borderLight: #B19EBD;
$borderDark: #322D34;

/**
 *  Game board
 */
$cellSize: 4vmin;
$gameWindowBackground: #5D5260;
$gameWindowPadding: calc(#{$mainPadding / 2});
$boardPanelHeight: 4vmin;
$boardPanelFontSize: 2vmin;
$boardGridPadding: $cellSize;
$boardGridBackground: #4A4A4A;
