/**
 *  Global
 */
$mainPadding: 2vmin;
$mainMargin: 2vmin;
$smallPadding: 0.5vmin;
$mediumPadding: 1vmin;
$borderLight: #B19EBD;
$borderDark: #322D34;

/**
 *  Menu
 */
$menuWindowWidth: 60vmin;
$menuWindowBackground: #5D5260;
$menuInputFontSize: 2vmin;

/**
 *  Game
 */
$cellSize: 4vmin;
$gameWindowBackground: #5D5260;
$gameWindowPadding: calc(#{$mainPadding / 2});
$boardPanelHeight: 4vmin;
$boardPanelFontSize: 2vmin;
$boardPanelButtonSize: 2.5vmin;
$boardPanelFontColor: #FFFFFF;
$boardGridPadding: $cellSize;
$boardGridBackground: #4A4A4A;
$pauseLabelBack: #3A2C30;
$pauseLabelBorder: #ADADAD;
